/*首页banner*/
.baner{
	width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#banner{
	width:980px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
#banner .img_list{
	width:980px;
	height:500px; 
	position:absolute;
	left:0px;
	top:0px;
}



#banner ul li{
	position:relative;
	z-index:1;
}
#banner ul li a{
	display:block;
	width:130px;
	height:35px;
	background:#2ea0fd;
	border-radius:30px;
	color:#fff;
	text-align:center;
	line-height:35px;
	position:absolute;
	left:440px;
	top:400px;
}

/*banner切换按钮*/
#banner ul.button{
	height:10px;
	display:inline-block;
	position:absolute;
	left:45%;
	bottom:30px;
	z-index:20;
}
#banner ul.button li{
	width:50px;
	height:10px;
	background:#f6cf91;
	float:left;
	margin:0 5px;
}
#banner ul.button li.hover{
	background:#ffa71d;
}

/*banner下面的切换信息*/
.tab{
	width:100%;
	height:100px;
	background:#fdf9f1;
}
.tab .t_content{
	width:844px;
	height:100px;
	line-height:100px;
	padding-left: 200px;
	margin:0 auto;
	background:url("../images/www/line.jpg")no-repeat center center;
}
.tab .t_content a{
	display:inline-block;
	width:208px;
	height:45px;
	line-height:45px;
	text-align:center;
	margin:0  70px 0 50px;
	background:url("../images/www/t_img.jpg") no-repeat;
}
.tab .t_content a.current{
	background:url("../images/www/t_img1.jpg") no-repeat;
	color:#fff;
	font-size:18px;
}

/*首页主体内容区域*/
.part1,.part2,.part3,.part4{
	width:100%;
	margin:0 auto;
	padding-top:60px;
	overflow:hidden;
}
.part1 .title,.part2 .title,.part3 .title,.part4 .title{
	height:37px;
}
.part1 .content,.part2 .content,.part3 .content,.part4 .content{
	width:1044px;
	height:450px;
	margin:0 auto;
}

.recompro{
	width: 980px;
	height: 32px;
	background: url('../images/www/item03_head.jpg') no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.proPicTit span{
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	padding-left:10px; 
} 
.more{
	float: right;
	padding-right:20px;
	color: #fff;

}
.more a {
	color: #fff;
}
/*合作单位*/
.cooperation{
	width:100%;
	overflow:hidden;
}
.cooperation .content{
	width:1044px;
	height:696px;/*558,109*/
	margin:0 auto 100px;
	background:url("../images/www/hz_unit.gif") no-repeat center center;
}

