body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.5 'microsoft yahei',tahoma,arial; color:#333;}/*字体/行高 优先字体,次优先字体*/
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:14px;}
ul,ol{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}/*去掉图片边框*/
button,input,select,textarea{font-size:100%;}
a{text-decoration:none;color:#303538;}
.clear:after { content: "."; clear: both; display: block; height: 0; font-size: 0; visibility: hidden; }
.clear { clear: both; }


/*页面头部*/
.header{
	width:100%; 
	height:85px;
	border-bottom:1px solid #e9e9e9; 
	background:#fff;
}
.h_top{
	width:1044px;
	height:100%;
	margin:0 auto;
}

/*banner样式*/
.banner1{
	width:100%;
	height:300px;
	background:url("../images/global/inal_banner1.jpg") no-repeat center center;
}
.banner2{
	width:100%;
	height:300px;
	background:url("../images/global/search_banner.jpg") no-repeat center center;
}
.banner3{
	height:300px;
	background:url("../images/global/abouus_banner.jpg");
}
.banner4{
	width:100%;
	height:300px;
	background:url("../images/global/server_banner.jpg") no-repeat center center;
}
/*logo*/
.h_top .logo{
	width:202px;
	height:100%; 
	float:left;
}
/*nav*/
.h_top .nav{
	height:80px;
	float:left;
	line-height:80px;
	padding-left:80px;
	font-size:16px;
}
.h_top .nav a{
	text-decoration:none;
	padding:0px 30px; 
	float:left;
}
.h_top .nav a.current{
	font-weight:bold;
	color:#f4a01e;
	border-bottom:4px solid #f4a01e;
}
/*用户名及退出*/
.h_top .user{ 
	float:left;
	line-height:85px;
	text-align:right;
	width:260px;
	}
.h_top .user a{
	color:#f4294b;
}
.h_top .text{ 
	float:right;
	line-height:85px;
	}
.h_top .text a{ 
	color:#000;
	font-size:14px;
	}
.h_top .text a:hover{
	color:#fe9900;
}
/*登录/注册*/
.h_top .login{
	width:200px;
	height:85px;
	float:right;
	line-height:85px;
}
.h_top .login a{
	display:inline-block;
	border:1px solid #fca000;
	width:84px;
	height:35px;
	text-align:center;
	line-height:35px;
	margin-left:10px;
	border-radius:5px;
	color:#fca000;
}
.h_top .login a.hover{
	background:#fca000;
	color:#fff;
}

/*内容区域样式*/
.l_main{
	width:100%;
	position:relative;
	padding-bottom:50px;
}

.l_main .main_cont{
	width:1044px;
	margin:0 auto;
	position:relative;
}
/*固定广告-马上注册*/
.fixedbox{
	position:fixed;
	width:100%;
	height:109px;
	background:url("../images/global/fixedbox.png") no-repeat;
}
 .r_main{
	width:1044px;
	height:109px;
	margin:0 auto;
}
.r_main .reg{
	width:130px;
	height:35px;
	background:#e6182f;
	border-radius:30px;
	line-height:35px;
	text-align:center;
	float:right;
	margin-top:45px;
}
.r_main .reg a{
	font-size:18px;
	color:#fff;

}
/*版权部分*/
.footer{
	width:100%;
	height:45px;
	background:#f4a01e;
}
.footer .f_conten{
	width:1044px;
	margin:0 auto;
	line-height:45px;
	text-align:center;
	color:#fff;
}

/*内页公共部分样式*/

.main_cont .content{
	width:1010px;
	margin:0 auto;
	padding-top:17px;
}
.main_cont .content .left{
	width:180px;
	height:400px;
	float:left;
}
.main_cont .content .left .title{
	width:177px;
	height:47px;
}
.main_cont .content .left .middle{
	width:100%;
	height:196px;
	background:#f1461f;
	border-radius:10px;
	margin-top:20px;
	padding-top:6px;
}
.left .m_c{
	width:158px;
	height:178px;
	margin:0 auto;
	border-radius:10px;
	border:2px dashed #fff;
	padding:4px 5px;
}
.left .m_c li{
	height:40px;
	line-height:40px;
	padding-left:20px;
}
.left .m_c li.current{
	background:#fff;
	border-radius:10px;
}
.left .m_c li.current a{
	color:#ff2f00;
	font-weight:bold;
}
.left .m_c li a{
	color:#fff;
}
.left .tel{
	width:180px;
	height:85px;
	background:url("../images/global/tel.gif") no-repeat;
	margin-top:10px;
}
.left .tel p.text{
	padding:10px 0 0 20px;
	font-size:20px;
}
.left .tel p.t_phone{
	height:40px;
	font-size:24px;
	text-align:center;
	padding-top:5px;
	color:#ff0000;
}
.main_cont .content .right{
	float:left;
	width:770px;
	border:2px solid #ff2f00;
	border-radius:30px;
	margin-left:15px;
	padding:10px 20px 80px 20px;
	position:relative;
}
/*采样地址标题*/
.right .title,.fram .title{
	height:50px;
	border-bottom:1px dashed #ddd;
	position:relative;
	padding-top: 15px;
} 
.right .title .decn,.fram .title .decn{
	height:50px;
	line-height:30px;
	font-size:60px;
	color:#666;
	padding-left:20px;
	background:url("../images/www/icon_tit.gif") no-repeat 0 6px;
	float:left;
}
.right .title .bt,.fram .title .bt{
	height:50px;
	float:left;
	margin-top:-8px;
}
.right .title .bt p,.fram .title .bt p{
	color:#666;
	font-size:22px;
	font-weight:bold;
}
.right .title .bt span,.fram .title .bt span{
	color:#d9d9d9;
	display: block;
	margin-top: -5px;
}
.right .title .text,.fram .title .text{
	position:absolute;
	bottom:0;
	right:0;
	color:#cfcfcf;
}
.right .title .text a,.fram .title .text a{
	color:#cfcfcf;
}
.right .title .text a:hover,.fram .title .text a:hover{
	color:#f4a01e;
}
.right .title .text a.current,.fram .title .text a.current{
	color:#f4a01e;
}
.right .inform{
	height:40px;
	line-height:40px;
	background:#fff8e1;
	border:1px solid #ffa800;
	margin:20px 0;
}
.right .inform .lt{
	float:left;
	width:80%;
	padding-left:10px;
}
.right .inform .lt a{
	
}
.right .inform .rt,.bm_h .rt{
	float:right;
	width:12%;
}
.right .inform .rt a,.bm_h .rt a{
	color:#ff2f00;
	padding:0 5px;
	display:inline-block;
}
.right .inform .rt a:hover,.bm_h .rt a:hover{
	text-decoration:underline;
}
.right .page{
	text-align:center;
	margin-top:40px;
}
.right .page a{
	display:inline-block;
	padding:6px;
	border:1px solid #cfcfcf;
	margin-left:10px;
}
.right .page a.current{
	border:1px solid #ea4d18;
	color:##ea4d18
}

/*按钮*/
.button input{
	width: 265px;
	height: 45px;
	display: block;
	border: none;
	color: #fff;
	cursor: pointer;
	text-align: center;
	background: #4fb1f7;
	border-radius: 5px;
	margin:0 auto;
	font-size: 18px;
}
/*中号按钮*/
.button_mld input{
	width:180px;
	height:35px;
	line-height:35px;
	display: block;
	border:none;
	cursor:pointer;
}
/*联系人*/
.person{
	width: 150px;
	height: 60px;
	line-height: 60px;
	border: 1px dashed #f4a01e;
	font-weight: bold;
	color: #f4a01e;
	font-size: 16px;
	text-align: center;
}
.person img,table tr td img{
	border: none;
	vertical-align: middle;
	margin-right:5px;
}
.person a{
	color: #f4a01e;
}
/*添加联系人弹窗*/
.add{
	width: 650px;
	height: auto;
	background: #fff;
	position:relative;
	top: -180px;
	left: 50px;
	border: 10px solid #5e5e5e;
	border-radius: 5px;
	padding-bottom: 40px;
}
.add .tit{
	height: 40px;
	line-height: 40px;
	background: #ddd;
	padding-left: 20px;
	font-size: 18px;
}
.add .tit a{
	display: inline-block;
	float: right;
	margin-right: 20px;
}

/*专题页banner*/
.ny_banner{
	width:100%;
	height:317px;
	background:url("../images/www/ny_banner.jpg") no-repeat center center;
}
/*专题页导航*/
.ny_nav{
	width:100%;
	height:55px;
	background:#3c3c3c;
}
.ny_nav .nav_body{
	width:1014px;
	height:55px;
	line-height:55px;
	margin:0 auto;
	padding-left:60px;
}
.ny_nav .nav_body li{
	float:left;
	height:55px;
	text-align:center;
	padding:0 120px;
}
.ny_nav .nav_body li.current{
	background:#fff;
}
.ny_nav .nav_body li a{
	color:#fff;
}
.ny_nav .nav_body li.current a{
	color:#fca000;
	font-size:22px;
}
/*专题页主体内容部分*/
.main_body{
	width:100%;
	background:url("../images/www/zt_bj.jpg");
}
.main_body .content{
	width:1044px;
	margin:0 auto;
}
/*专题页基因上传/申请信息*/
.gene{
	width:100%;
	height:300px;
	background:url("../images/www/gene_bj.jpg") no-repeat;
}
.gene .cont{
	width:1044px;
	height:140px;
	margin:0 auto;
	padding-top:80px;
}
.gene .cont ul{
	margin-left:240px;
}
.gene .cont ul li a.current{
	background:#e6182f;
	color:#fff;
}
.gene .cont ul li a{
	display:inline-block;
	width:200px;
	height:50px;
	line-height:50px;
	border:1px solid #e6182f;
	border-radius:30px;
	text-align:center;
	float:left;
	margin-left:40px;
	font-size:16px;
}

/*商品列表banner*/
.com_banner,.about_banner{
	width:100%;
	height:320px;
	background:url("../images/www/xq_bannger.jpg");
}

