
/*采样地址*/
.main_cont{
	background:url("../images/global/cont_bj.gif") no-repeat;
	border-radius:20px 20px 0 0;
	position:absolute;
	top:-78px;
	padding:20px 0 50px 0;
}

/*个人信息*/
.right .r_one{
	height:100px;
	margin-top:30px;
	text-align:center;
}
.right .r_one p span{
	color:#ff9900;
}
.right .safety{
	font-size:16px;
	margin-top:20px;
}
.right .safety span{
	border-left:4px solid #ff0000;
}
.right .sy_o,.right .emil,.right .password{
	height:80px;
	margin-top:25px;
	padding-left:40px;
	border-bottom:1px dashed #ddd;
}
.right .sy_o li{
	float:left;
}
.right .sy_o li.lt{
	width:50%;
	float:left;
}
.right .sy_o li.lt{
	width:45%;
	background:url("../images/login/reg_phone.png") no-repeat ;
	padding-left:30px;
}
.right .sy_o li.lt dt{
	font-size:16px;
}
.right .sy_o li.lt dd a{
	color:#ff0000;
	text-decoration:underline;
}
.right .sy_o li.lt .tit span{
	padding-left:30px;
	font-size:16px;
}
.right .sy_o li.ml{
	width:177px;
	height:37px;
	float:left;
	background:url("../images/www/bd.gif") no-repeat;
	margin-top:30px;
}
.right .sy_o li.rt,.right .emil li.rt,.right .password li.rt{
	width:15%;
	float:right;
	margin:20px 20px 0 0;
	text-align:right;
}
.right .sy_o li.rt a,.right .emil li.rt a,.right .password li.rt a{
	color:#4167eb;
	text-decoration:underline;
}
.right .emil li.lt{
	width:65%;
	float:left;
	background:url("../images/login/reg_emil.png") no-repeat;
	padding-left:30px;
}
.right .password{
	border-bottom:none;
} 
.right .password li.lt{
	width:65%;
	float:left;
	background:url("../images/login/password.png") no-repeat;
	padding-left:30px;
}
.right .password li.lt i{
	color:#ff2f00;
}

/*更改手机号码切换步骤*/
.right ul.tab{
	height:30px;
	margin-top:50px;
	padding-left:30px;
	border-bottom:1px solid #ddd;
}
.right ul.tab li,.fram ul.switch li{
	float:left;
	padding:0 60px;
	font-size:18px;
	color:#aeb1b2;
	line-height:30px;
	margin-left:20px;
}
.right ul.tab li.active ,.right ul.switch li.active{
	color:#4c9fcc;
	border-bottom:2px solid #4c9fcc;
}
.right ul.tab li i img{
	vertical-align:top;
	margin-right:10px;
}
/*更换手机号--表单*/
ul.wrap{
	height:150px;
	padding-left:15%;
	padding-top:40px;
}
ul.wrap li .tip{
	padding-left:77px;
	position:absolute;
	top:39px;
	left:0;
}
.tip b{
	font-weight:normal;
	height:15px;
	display:inline-block;
	margin:0 3px;
	padding:0 30px;
	background:#ededed;
	font-size:9px;
	text-align:center;
}
.tip b.current{
	background:#fe0000;
	color:#fff;
}
.t_m i.ico_error {
	width: 19px;
	height: 19px;
	display: inline-block;
	background: url("../images/login/ico_reg.png") no-repeat -64px 0;
	vertical-align: middle;
}
ul.user{
	padding-left:24%;
}
ul.wrap li{
	height:35px;
	margin-bottom:30px;
	position:relative;
}
ul.wrap .w_1{
	float:left;
	margin: 8px 0 0;
	width:70px;
	text-align:right;
	margin-right:10px;
}
ul.wrap .w_2{
	float:left;
}
ul.wrap li .w_2 select,ul.wrap li .w_2 input.txt{
	width:100px;
	height:35px;
	color:#999;
	text-indent:5px;
	border:1px solid #bcc8d8;
	background:#fcfcfc;
}
ul.wrap li .w_2 input.ti{
	width: 70px;
	height: 20px;
	line-height: 20px;
	color:#999;
	background:#fcfcfc;
	border:1px solid #bcc8d8;
	padding: 5px;
}
ul.wrap li .w_2 i{
	color:#999;
}
ul.wrap li .w_2 b{
	display:inline-block;
	height:35px;
	line-height:35px;
	color:#000;
}
ul.wrap li .w_2 input.txt{
	width:250px;
}
ul.wrap li .w_2 input.address{
	width:410px;
}
ul.wrap li .w_2 a.btn{
	width: 120px;
	height: 35px;
	background:linear-gradient(#fff,#ECECEC);
	display: inline-block;
	border: 1px solid #c6c6c6;
	line-height: 35px;
	text-align: center;
	color: #999;
}
ul.wrap li .w_2 a.fs{
	width:84px;
	height:35px;
	line-height:35px;
	background:#fad9a8;
	display:inline-block;
	text-align:center;
	color:#fff;
	border:1px dashed #fe9900;

}
ul.wrap li .pic{
	width: 80px;
	height: 35px;
	background: #000;
	float: left;
	background: url("../images/login/jcaptcha.jpg") no-repeat;
	cursor:pointer;
	margin-left:5px;
}
.button input{
	background:#fe9900;
	margin-top:50px;
}
/*手机号码更改成功*/
.cont_wrap{
	width:100%;
	height:400px;
	padding:78px 0 350px 0;
}
.cont_wrap .main{
	width:650px;
	height:320px;
	background:#fbfbfb;
	margin:0 auto;
	box-shadow:0 2px 4px #ddd;
	text-align:center;
	padding-top:80px;
}
.cont_wrap .main p{
	font-size:18px;
	color:#666;
}
.cont_wrap .main .button_mld input{
	background:#18bd9b;
	border:none;
	margin: 30px 0 0 260px;
	color:#fff;
	font-size:18px;
}
/*修改密码*/
.button_mld{
	margin-left:-30px;
}
.wrap .tip{
	padding-left:80px;
	color:red;
}
.wrap .tip i.ico_error{
	width: 20px;
	height: 22px;
	display: inline-block;
	background: url("../images/login/ico_reg.png") no-repeat -62px 5px;
	vertical-align: bottom;
}
.btn input,.btn_js a,.but a,.sub a,.btn_over input{
	display:block;
	width:180px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#18bd9b;
	color:#fff;
	font-size:16px;
	margin-left:260px;
	color:#fff;
}
.btn_over input{
	display:block;
	margin-top:80px;
}

/*设置新密码*/
.fram .switch{
	height: 30px;
	margin-top: 50px;
	padding-left: 30px;
	border-bottom: 1px solid #ddd;
}
.fram .switch li{
	float:left;
	padding: 0 30px;
	font-size: 18px;
	color: #aeb1b2;
	line-height: 30px;
	margin-left: 20px;
	margin-top:-4px;
}
.fram .switch li.active{
	color: #4c9fcc;
	border-bottom: 2px solid #4c9fcc;
}
.right ul.switch li i img{
	vertical-align:middle;
	margin-right:5px;
}
.tj input{
	background:#f1461f;
	z-index:3;
}
.but a{
	background:#f1461f;
	margin-left:380px;

}
.w_2 .radio{
	margin:12px 5px 0 0;
}
.w_2 .woman{
	margin-left:20px;
}
.t_m{
	width:260px;
	float:left;
	margin:5px 0 0 5px;
	color:red;
}

/*保存按钮*/
.btn_bc{
	padding: 50px 0 0 280px;
}
.btn_bc input,.btn_person input,.btn_jy input,.btn_js input{
	background:#b5d36f;
	color:#fff;
	font-size:18px;

}
/*添加联系人按钮*/
.btn_person,.btn_jy,.btn_js{
	padding:50px 0 0 280px;
}

/*我的检索单*/
table.top{
	width:100%;
	border:1px solid #ddd;
	margin-top:20px;
	padding-bottom:220px;
	position:relative;
}

table tr th{
	height:40px;
	color:#666;
	background:#f1f1f1;
	border-bottom:1px solid #d7e0ea;
}
table tr th.title_bj{
	background:#fff8e1;
	width:160px;
}
table tr th .checkbox{
	vertical-align:middle;
	margin-right:5px;
}
table tr td{
	text-align:center;
	padding-top:10px;
}
table tr td.result{
	color:red;
}

/*基因档案*/
.title_jy{
	margin-top:20px;
	background:#fcf1dd;
	height:35px;
	line-height:35px;
	padding-left:20px;
	font-size:20px;
	color:#ff8524;
}
.span1{
	margin-left:20px;
}

.btn_jy input{
	background:#b5d36f;
}
/*无订单*/
table th{
	margin-top:20px;
}
.right .photo{
	text-align:center;
	margin-top:30px;
}
.right .photo p{
	font-size:22px;
	color:#bdbdbd;
	margin-left:-20px;
}
.wrap_k{
	margin-top:20px;
	border:1px solid #ddd;
	padding-bottom:80px;
}
/*检索结果*/
.fram{
	border:2px solid #ff2f00;
	border-radius: 30px;
	padding:20px 20px 80px 20px;
	position:relative;
}
.wrap{
	margin-top:20px;
}
.wrap ul{
	height:40px;
	background:#fff8e1;
	border-top:2px solid #ff9900;
}
.wrap ul li{
	float:left;
	line-height:40px;
	padding:0 60px;
}
.wrap p{
	margin:15px 0 0 15px;
}
.wrap table.main{
	border:1px solid #ffa800;
	padding:0;
}
.wrap table.main td.sex{
	background:#fffcf3;
	padding-bottom: 5px;
	border-right:1px solid #ffa800;
}
.wrap table.main td.text{
	font-weight:bold;
	color:red;
}
.wrap table.main td a.lx{
	color:#ff9900;
	text-decoration:underline;
}
.btn_js a{
	background:#2ea5de;
	margin-left:120px;
	color:#fff;
}
/*聊天窗口*/
.chat{
	width: 454px;
	height: auto;
	background: #fff;
	box-shadow: 0 0 4px #888B8C;
	position: absolute;
	top:100px;
	left: 280px;
}
.chat .top_title{
	width: 434px;
	height: 43px;
	background: url("../images/www/letter.png");
	line-height: 43px;
	padding-left: 20px;
	color: #fff;
}
.chat .top_title img{
	float:right;
	margin:15px 10px 0 0;

}
.chat .ck{
	height: auto;
	background: #fff;
	border: 1px solid #2988da;
	margin-top: -2px;
	padding-bottom: 20px;
}
.chat .ck .ck_top{
	width: 430px;
	height: 250px;
	border: 1px solid #2988da;
	margin: 10px auto;
	border-radius: 5px;
}
.chat .ck .ck_mid{
	width:452px;
	height:26px;
	line-height:33px;
	background:#edf7fe;
	border-top:1px solid #2988da;
	border-bottom:1px solid #2988da;
}
.chat .ck .ck_mid span{
	margin-left:10px;
}
.chat .ck .ck_btm {
	width: 440px;
	height: 77px;
	margin: 10px 0 0 10px;
}
.chat .ck .ck_btm .btm_ck {
	width: 306px;
	height: 77px;
	border: 1px solid #2988da;
	border-radius: 5px;
	float: left;
}
.chat .ck .ck_btm .btn {
	float: left;
	width: 92px;
	height: 40px;
	line-height: 40px;
	background: #6ed6a1;
	margin: 20px 0 0 15px;
	text-align: center;
	border-radius: 3px;
	color:#fff;
}

/*支付成功*/
.wrap_z{
	width:958px;
	height:350px;
	background:url("../images/www/zf_bj.jpg") no-repeat;
	margin-top:20px;
	padding-top:20px;
}
.wrap_z .kj{
	width:800px;
	margin:0 auto;
	background:#fff;
}
.wrap_z ul{
	width:800px;
	height:40px;
	background:#fff8e1;
	border-top:2px solid #ff9900;
	margin:0 auto;
}
.wrap_z li{
	float:left;
	padding:10px 60px;
	margin-left:10px;
}
.wrap_z li b{
	color:red;
}
.wrap_z .adr{
	height:80px;
	margin:20px 20px 0 20px;
	border-bottom:1px solid #ddd;
}
.wrap_z .over{
	padding:20px 0 20px 280px;
}
.wrap_z .over img{
	vertical-align:middle;
}

/*支付方式*/
.way{
	height:120px;
	background:#fffdee;
	border:1px solid #ffcc7d;
	margin-top:40px;
	padding:20px;
}
.way li{
	float:left;
}
.way li input.radio{
	vertical-align:bottom;
	margin-right:5px;
}
.way li h1{
	font-size:20px;
}
.way li span{
	display:block;
	margin:10px 0 0 8px;
	color:#999;
}
.way .zf{
	height:50px;
	padding-top:30px;
}
.way .zf a{
	width:210px;
	height:35px;
	display:inline-block;
	background:#fff;
	border:1px solid #ddd;
	float:left;
	margin:0 5px;
	text-align:center;
	padding-top:10px;
}
.way .zf a.current{
	border:1px solid red;
}
.way .zf a img{
	vertical-align:middle;
}
.next_btn{
	width:100%;
	height:50px;
	margin-top:30px;
} 
.next_btn input,.next_btn a{
	display:block;
	width:120px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#fe9900;
	color:#fff;
	float:right;
	border:none;
}
.next_btn a{
	background:#f1451d;
}
/*上传基因信息*/
.wrap_jc .top_one{
	width:100%;
	border-bottom:1px solid #ddd;
	position:relative;
}
.wrap_jc .top_one .tit{
	width:100px;
	height:35px;
	line-height:35px;
	background:#ff9900;
	text-align:center;
	color:#fff;
	margin-top:20px;
}
.wrap_jc .text{
	margin:10px 0;
}
.wrap_jc .swth{
	margin-top:20px;
	padding-left:50px;
}
.wrap_jc .swth li{
	float:left;
	border:1px solid #ddd;
	padding:10px 80px;
	margin-right:10px;
	font-size:16px;
}
.wrap_jc .swth li.current{
	background:#5dae70;
}
.wrap_jc .swth li:hover{
	background:#5dae70;
}
.wrap_jc .swth li.current a{
	color:#fff;
}
.wrap_jc .swth li a:hover{
	color:#fff;
}
.bm{
	padding-top:20px;
}
.bm h3{
	color:#ff4001;
	margin-bottom:10px;
}
.personal{
	padding: 10px;
}
.top_tit{
	width:100%;
	margin-bottom:20px;
	border-bottom:1px solid #ddd;
	float:left;
}

.top_tit h3{
	font-size:16px;
}
.tet{
	margin-top:20px;
}
.tet p{
	margin-bottom:20px;
}
.tet span{
	display:inline-block;
	width:70px;
	text-align:right;
	margin-right:10px;
}
.tet input.wb{
	width:250px;
	height:35px;
	color:#999;
	text-indent:5px;
}
.tet select{
	width:150px;
	height:35px;
}
p.nam{
	margin-top:15px;
}
.btn_upload{
	margin-top:30px;
	padding-left:30px;
}
.btn_upload input,.ado a{
	display:inline-block;
	width:150px;
	height:35px;
	line-height:35px;
	text-align:center;
	border-radius:5px;
	background:#ddd;
	color:#fff;
	margin-left:20px;
	background:#fe9900;
	border:none;
}
/*申请基因检测*/
.see{
	height:10px;
}
.see a{
	width:100px;
	display:block;
	height:30px;
	border:1px solid red;
	border-radius:10px;
	float:right;
	text-align:center;
	line-height:30px;
	color:red;
}
.see a:hover{
	background:red;
	color:#fff;
}
.bm_h table{
	border-left: 5px solid #ff9900;
	height: 35px;
	line-height:35px;
	background:#fffcf1;
	margin-top:20px;
}
.bm_h table td{
	padding:0 8px;
	text-align:left;
}
.bm_h table td a{
	color:red;
	display:inline-block;
	margin-left:6px;
}
.bm_h table td a:hover{
	text-decoration:underline;
}
.form{
	width:100%;
	border:1px solid #ddd;
	margin-top:20px;
	padding-bottom:20px;
}
.form table{
	width:100%;
}
.form table .first{
	width:200px;
}
.form table td{
	margin-bottom:20px;
}
.form table td a{
	display:inline-block;
	border:1px solid #ddd;
	padding:0 5px;
}
.form table td a.mid{
	border-left:none;
	border-right:none;
}
.ado a{
	display:block;
	width:100px;
	height:35px;
	border-radius:5px;
	background:#2ea5de;
	margin:20px 0 0 30px;
}
.top_one span{
	display:inline-block;
	position:absolute;
	top:10px;
	left:110px;
	color:#999;
}
.data{
	width:100%;
	border:1px solid #ddd;
	margin-top:20px;
	padding-bottom:20px;
}
p input.tel{
	width:120px;
	height:35px;
	color:#999;
}
p i{
	color:#999;
}
p select{
	color:#999;
}
p input.jt{
	width:610px;
	height:35px;
	color:#999;
}
.sub input{
	margin:50px 0 0 320px;
	background:#f1451d;
	color:#fff;
	height:40px;
}
/*添加联系人的弹窗*/
.layer{
	position: absolute;
	border: 10px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	text-align: left;
	width: 600px;
	z-index: 10000;
	top:10%;
	left:10%;
}
.layer .layer_wrap{
	background: #fff;
	border: 1px solid #ccc;
	padding-bottom: 50px
}
.layer .layer_title{
	position: relative;
	width: 100%;
	background: linear-gradient(#fff,#ECECEC);
	background-color: #F2F2F2;
	border-bottom: 1px solid #ccc;
	cursor: move;
}
.layer .layer_title h3{
	margin-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #666;
}
.layer_title .close {
	position: absolute;
	right: 10px;
	top: 13px;
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/www/close.png") no-repeat;
	cursor: pointer;
}
.laper_contain{
	width:550px;
	padding:20px;
}
.layer .con_footer {
	border-top: 1px solid #f2f2f2;
	padding: 10px 20px;
}
.layer .con_footer .con_footer_wrap {
	float: right;
}
.layer .con_footer .btn,.layer .con_footer .btn_blue {
	color: #666;
	margin-left: 10px;
	width:80px;
	height:35px;
	line-height:35px;
	background:#f3f3f3;
	display:inline-block;
	border-radius:5px;
	text-align:center;
}
.layer .con_footer .btn_blue {
	color: #666;
	background:#00b1d8;
	color:#fff;
}
.tet span {
	display: inline-block;
	width: 70px;
	text-align: right;
	margin-right: 10px;
}
.tet input.wb {
	width: 250px;
	height: 35px;
	color: #999;
	text-indent: 5px;
}
/*我的检测单-订单*/
.nav_t{
	width:100%;
	height:35px;
	border-bottom:1px solid #f79501;
	margin-top:20px;
}
.nav_t li{
	float:left;
	padding:0 40px;
	line-height:35px;
	margin-left:15px;
}
.nav_t li.current{
	background:#f79501;
	border-radius:8px 8px 0 0;
	color:#fff;
}
.tab table td{
	border-bottom:1px dashed #ddd;
	padding-bottom: 8px;
}
.tab table td.ment{
	width:160px;
	border:1px solid blue;
}
.tab table td a.pay{
	display:block;
	width:65px;
	height:25px;
	line-height:25px;
	background:#ff4401;
	border-radius:5px;
	margin-left:40px;
	color:#fff;
}
.tab table td a{
	color:#2e94ee;
}
.tab table td.clr{
	color:#ff4401;
}
.tab table td.bold{
	font-weight:bold;
}
/*样品编号*/
.plain{
	padding:20px 0;
}
.plain dt span{
	color:#f1461f;
}
.list{
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff8e1;
}
.list li{
	float:left;
	width:240px;
	text-align:center;
}
.list li img{
	vertical-align:middle;
	margin-right:10px;
}
.light{
	background:#fffef9;
	margin:0 0 5px 0;
	color:#666;
}
.light li a{
	color:#f1461f;
	text-decoration:underline;
}
.mation{
	width:100%;
	margin-top:0;
	float:left;
	padding-bottom: 20px;
	margin-bottom:20px;
}
.mation dl{
	margin:20px 0 0 20px;
}
.personal em{
	font-style:normal;
	text-align:center;
	color:#f4a01e;
}
.stic{
	width:100%;
	border-top:1px solid #ddd;
	padding-top:20px;
}

/*订单详情*/
.order{
	width:100%;
	border:1px solid #ddd;
	margin-top:20px;
	padding-bottom:20px;
}
.order .order_status{
	background:#fff8e1;
	height:35px;
	line-height:35px;
	font-size:16px;
	padding-left:20px;
	border-bottom:1px solid #ddd;
}
.order .order_status .order_status_hint{
	color:#ea4d18;
}
.order_status_directions{
	text-align:center;
	margin-top:20px;
	color:#999;
}
span.ject{
	font-size:16px;
	font-weight:bold;
	border-bottom:2px solid #ff4401;
	padding:10px 20px;
	display:inline-block;
}
.order_flow{
	text-align:center;
	margin:20px 0 30px 0;
	height:20px;
}
.order_flow ul{
	width:100%;
	height:10px;
	margin:0 8px;
}
.order_flow li{
	float:left;
	width:150px;
	height:10px;
	border-radius:10px;
	background:#e4e3e3;
}
.order_flow li.active{
	background:#71c738;
}
.order_flow li span{
	display:block;
	color:#999;
}
.order_flow li.active{
	background:#71c738;
}
.order_flow li.active i{
	background: url("../images/www/zt_icon.png") no-repeat;
}
.order_flow li.active span{
	color:#333;
}
.order_flow li i{
	background: url("../images/www/zt_icon_.png") no-repeat;
	display: inline-block;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	margin-right: 5px;
	text-align: center;
	width: 24px;
	margin-top:-6px;
}

p.mode{
	margin:10px 0 20px 30px;
}
.form table td.clor{
	color:#f1461f;
	font-weight:bold;
}
.total{
	height:50px;
	font-size:18px;
	text-align:right;
	padding-top:20px;
}
.total span{
	font-size:24px;
	color:#ff4401;
	font-weight:bold;
}

/*专题页-寻亲团圆*/
.main_body .content .ret,.main_body .content .pro{
	width:100%;
	height:400px;
	background:url("../images/www/pic_1.jpg") no-repeat right bottom;
	padding-top:100px;
}
.main_body .content .pro{
	background:url("../images/www/pic_2.jpg") no-repeat left bottom;
}
.ret .lt,.pro .rt,.child .lt,.road .rt,.stray .lt{
	width: 550px;
}
.pro .rt,.road .rt{
	float:right;
}
.ret .cont_text,.pro .cont_text{
	margin-top:30px;
}

/*亲子保护*/
.main_body .content .child,.main_body .content .road,.main_body .content .stray{
	width:100%;
	height:350px;
	background:url("../images/www/part_bj_01.png") no-repeat right bottom;
	padding-top:50px;
}
.main_body .content .road{
	background:url("../images/www/part_bj_02.png") no-repeat left bottom;
}
.main_body .content .stray{
	background:url("../images/www/part_bj_03.png") no-repeat right bottom;
}

/*专题页-名人基因*/
.part1{
	width:100%;
	height:390px;
	padding-top:50px;
	position:relative;
}
.part1 .pic{
	width:300px;
	height:300px;
	background:url("../images/www/par_l.jpg") no-repeat;
	float:left;
}
.part1 .text{
	width:330px;
	height:150px;
	line-height:24px;
	float:left;
	margin:50px 0 0 30px;;
}
.part1 .drct{
	margin-bottom:0;
	position:absolute;
	right:50px;
	bottom:50px;
	width:230px;
	height:55px;
}
.part1 .drct a{
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:5px;
	background:#1ac4f8;
	font-size:20px;
	color:#fff;
}
.full{
	width:100%;
	height:50px;
	background:#eff7f9;
	border-top:1px dashed #23bbe8;
	border-bottom:1px dashed #23bbe8;
}
.full_cont{
	width:1044px;
	height:50px;
	line-height:50px;
	margin:0 auto;
}
.full_cont .whole{
	display:inline-block;
	width:55px;
	height:30px;
	line-height:30px;
	background:#e5e5e5;
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
	float:left;
	margin:10px;
}
.full_cont .option{
	float:left;
	padding:0 10px;
}
.full_cont .option a{
	padding:5px 10px;
}
.full_cont a.current{
	color:#e82727;
	text-decoration:underline;
}
.full_cont .search{
	width:180px; 
	height:35px;
	float:right;
	padding-top:16px;
	position:relative;
}
.full_cont .search input.txt{
	width: 140px;
	height: 23px;
	border: 1px solid #e1e1e1;
	font-size: 12px;
	color: #999;
	text-indent: 10px;
	position: absolute;
	left: 0px;
	top: 13px;
}
.full_cont .search a.but{
	width: 26px;
	height: 25px;
	background: url("../images/www/sosoh.jpg");
	border: 0px;
	position: absolute;
	left: 141px;
	top: 13px;
}
.part2{
	width:100%;
	height:auto;
	padding-top:50px;
	padding-bottom:100px;
}
.part2 .cont{
	width:1044px;
	margin:0 auto;
}
.part2 .cont ul.wall{
	width:320px;
	height:440px;
	float:left;
	margin:0 0 20px 20px;
	position:relative;
}
.part2 .cont ul.wall li{
	width:304px;
	height:364px;
	background:#fff;
	border:1px solid #ddd;
	text-align:center;
	margin-bottom:20px;
	padding:8px;
}
.part2 .cont ul.wall li.current{
	background:#e6182f;
	box-shadow:0 0 6px #bcbcbc;
}
.part2 .cont ul.wall li.current .text p{
	color:#fff;
}
.part2 .cont ul.wall .shade{
	width:322px;
	height:382px;
	background:#000;
	position:absolute;
	top:0; 
	left:15px;
	filter:alpha(opacity=75);
	opacity:0.75;
}
.part2 .cont .trast{
	width:160px;
	height:35px;
	line-height:35px;
	background:#dfdfdf;
	border-radius:30px;
	margin:0 auto;
	text-align:center;
}
.part2 .cont .trast a.current{
	display:inline-block;
	width:160px;
	height:35px;
	border-radius:30px;
	background:#fca000;
	color:#fff;
}

/*商品详情*/
.l_main .cont{
	width:1044px;
	margin:40px auto;
}
.cont .img-intro {
	overflow: hidden;
	float:left;
	margin:0 40px 40px 0;
}
.cont .text-intro {
width: 500px;
font-size: 14px;
color: #666666;
float:left;
margin-top:20px;
}
.cont .text-intro .price {
	background:#c1dff3;
	height:60px;
	line-height: 60px;
	color: #666666;
	margin-top: 30px;
	padding:5px 0 0 20px;
	width:560px;
}
.price em{
	margin-right:100px;
}
.price em span{
	text-decoration:line-through;
	margin-left:30px;
}
.price em b{
	color:red;
	margin-left:20px;
	font-size:22px;
}
.cont .text-intro .ipce {
display: inline-block;
font: normal 26px "Arial";
line-height: 16px;
color: #e32d49;
margin: 0 5px;
vertical-align: middle;
margin-top: -3px;
}

.text-intro lable.selected{
	width: 146px;
	height: 76px;
	line-height: 76px;
	display:inline-block;
	text-align:center;
	margin-top:10px;
	border: 2px solid #e32d49;
}
.text-intro lable.collect{
	width:196px;
	height:76px;
	line-height:76px;
	display:inline-block;
	text-align:center;
	margin-top:10px;
	margin-right:20px;
	border:1px solid #ddd;
}
.text-intro lable.collect a.current{
	display:block;
	border: 1px solid #e32d49;
}
.text-intro a.buy-btn {
	display: block;
	width:200px;
	height:50px;
	line-height:50px;
	margin-top:40px;
	font-weight: bold;
	color: #fff;
	text-align:center;
	background:#2da4f7;
	border-radius:10px;

}
.text-intro a.buy-btn:hover{
	background:#317eb5;
}
.title_sy{
	width:120px;
	height:40px;
	line-height:40px;
	background:#fff;
	border:1px solid #ccc;
	border-bottom:0;
	text-align:center;
}
p.head_tit{
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #ccc;
	border-bottom:none;
	background:#fff;
	margin-bottom:-1px;
	font-size:20px;
	color:#fcac00;
	position:relative; z-index:10;

}
.cont .synopsis,.cont .product{
	height:auto;
	border: 1px solid #ccc;
	padding:20px;
	color:#666;
	margin-bottom:20px;
}
.cont .product{
	height:300px;
	background:url("../images/www/pic.jpg") no-repeat right bottom;
}
.cont .synopsis h4,.cont .product h4{
	margin-bottom:20px;
}
.cont .synopsis h3 {
margin-bottom: 30px;
font-weight: 200;
font-size: 24px;
text-align: center;
}
.cont .synopsis li{
	width: 300px;
	margin: 0 16.5px 10px;
	text-align:center;
	float:left;
}
.cont .synopsis li h4{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	color: #434d58;
}

/*套餐介绍*/
.infor{
	width:100%;
	padding-top:20px;
}
.infor .tit{
	width:100%;
	height:80px;
	box-shadow: 0 2px #ddd;
}
.infor h2{
	color:#ff4001;
	margin-bottom:15px;
}
.infor .continer {
height: auto;
padding: 5px 0 0 10px;
}
.infor .continer dl{
	margin-top:20px;
}
.infor .continer dt {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
color: #666;
}
.infor .continer dd {
background: url("../images/www/zhankai.png")no-repeat;
padding-left: 25px;
padding-bottom: 10px;
}
.clearfix{
	width:100%;
	height:50px;
	line-height:50px;
	margin-top:20px;
}
.clearfix a,.clearfix i{
	border:1px solid #ccc;
	padding:5px;
	margin:0 3px;
}
.clearfix i{
	padding:5px 15px;
	font-style:normal;
}
/*商品列表*/
.l_main .main_cnt{
	width:1044px;
	height:auto;
	margin:40px auto;
}
.main_title{
	width:100%;
	height:40px;
	border-bottom:1px solid #fcac00;
	margin-bottom:25px;
}
.main_title .txt{
	width:140px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#fcac00;
	color:#fff;
}
.main_cnt ul.round{
	width:100%;
	border:1px solid #f4f4f4;
	padding-bottom:50px;
}
.main_cnt ul.round li{
	float:left;
	width:460px;
	height:280px;
	border:1px solid #f4f4f4;
	margin:20px 20px 20px 30px;
}
.main_cnt ul.round li:hover{
	float:left;
	width:460px;
	height:280px;
	background:#f2f2f2;
	margin:20px 20px 20px 30px;
}
.package_main_img{
	float:left;
	margin:40px 0 0 20px;
}
.package_main_txt{
	float:left;
	text-align: center;
	width: 230px;
	height:250px;
	margin-top:40px;
	padding-left:5px;
}
.package_main_txt h4{
	font-size: 19px;
	line-height: 30px;
	margin-top: 20px;
	color: #666;
}
a.buy_immediately {
	display:block;
	font-size: 16px;
	background: #F1451D;
	color: #fff;
	width: 100px;
	display: inline-block;
	line-height: 30px;
	margin-top: 20px;
}
p.product_introduction{
	text-align:left;
	margin-top:20px;
	color:#666;
}


/*关于我们*/
.about_nav{
	width:auto;
}
.about_nav .nav{
	width:1044px;
	margin:0 auto;
	position: relative;
	top: -50px;
	z-index: 50;
	background: #fff;
}
.nav .abXnav{
	position: absolute;
	top:0;
	z-index: 9;
	width:100%;
	height:50px;
	line-height:50px;
	background: url("../images/www/abnavbg01.jpg") no-repeat;
}
.nav .abXnav ul{
	margin-left:30px;
}
.nav .abXnav li{
	float:left;
	background: url("../images/www/nav_img01.jpg") right center no-repeat;
}
.nav .abXnav li a{
	height:100%;
	width:240px;
	text-align:center;
	display:inline-block;
    color:#333;
}
.nav .abXnav li a.current{
	background:#0093db;
	color:#fff;
}
.main_cnt .lt{
	float:left;
	width:410px;
	height:267px;
	background:#fff;
	border:1px solid #ddd;
	text-align:center;
	padding:5px 0;
}
.main_cnt .rt{
	float:right;
	width: 620px;
	padding: 5px 0 100px 0;
	line-height: 28px;
}
.main_cnt .rt h2{
	color:#e60011;
	margin-bottom:20px;
}
.main_cnt .rt h3,.continer h3,.infor h3{
	color:#fca000;
	margin-bottom:5px;
}

/*权威资质*/
h2.title{
	font-size: 24px;
	font-weight: 100;
	height: 25px;
	line-height: 22px;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 0 0 7px;
}
h2.title span {
	border-left: 4px solid #e60011;
	display: inline;
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 15px;
}
h2.title em {
color: #c4c4c4;
display: inline;
float: left;
font-size: 20px;
margin: 4px 0 0 12px;
}
.cont ul.wall{
	width:100%;
	height:283px;
	text-align:center;
}
.cont ul.wall li{
	float:left;
	margin:0 10px 20px 14px ;
}
.cont ul.wall p.mc{
	font-size:18px;
	font-weight:bold;
}

/*隐私声明*/
.cont p.first{
	margin-top:-30px;
}
.cont h3{
	color:#e60011;
	margin-top:20px;
}
/*联系我们*/
.contact_wrap{
	padding:0 60px 94px 60px;
	line-height:28px;
}
.contact_wrap .contact_lt{
	width:400px;
	float:left;
}
.contact_wrap .contactMap{
	width:502px;
	height:272px;
	border:4px solid #ddd;
	background:#fff;
	float:right;
	text-align:center;
}

/*服务流程*/
.continer img{
	margin-left:200px;
}
.lc_img{
	width:800px;
	height:210px;
	background:url("../images/www/pic_cy.jpg") no-repeat;
}
